$color-bg: #000; //#1e1e1e;
$color-darkest: #201a18;
$color-dark: #57493e;
$color-medium: #ef9758;
$color-medium-bg: #ce6f2c;
$color-bright: #c8b6a8;
$color-brightest: #efe1d7;

$color-white: $color-brightest;
$color-shadow: $color-bg;
$color-text: $color-bright;
$color-link: $color-medium;
$color-important: $color-medium;
$color-active: $color-medium;
$color-inactive: rgba($color-brightest, 0.35);

$color-positive: #77d64d;
$color-negative: #e34a4a;
$color-warning: #f1d242;
$color-cold: #4d9ad6;
