
$font-family: Menlo, monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-important: #e00000;
$color-bg: #f5f5f5;
$color-panel: #b4b4b4;
$color-text: #000;
$color-info: #444;
$color-inactive: #712727;
$color-active: #e00000;
$color-attention: #22b600;
$ui-border: 6px ridge $color-active;
$ui-outline: 0.5px solid #444444;
$text-shadow: 0.05em 0.05em 1px #0008;

$game-width: 960px;
$game-height: 540px;
$ui-height: 180px;
$ui-compass-width: 360px;
$ui-column: 60px;
$ui-row: 40px;

html {
	overflow: scroll;
	// scroll-behavior: smooth;
}

html, body {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $color-bg;
  color: $color-text;
  text-shadow: $text-shadow;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-important;
  text-decoration: inherit;
  font-weight: 600;
}

a:hover {
  color: $color-important;
  text-decoration: underline;
}

h1 {
  font-size: 2.2em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  text-shadow: $text-shadow;
  line-height: 1.2em;
  margin: 0.2em 0;
}

hr {
  color: #444;
  border: 0.5px solid;
}

button {
  background-color: $color-active;
  color: $color-bg;
  text-shadow: $text-shadow;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}


//------------------------
// GENERIC
//

.AlignLeft { text-align: left; }
.AlignCenter { text-align: center; }
.AlignRight { text-align: right; }
.AlignTop { vertical-align: top; }
.AlignMiddle { vertical-align: middle; }
.AlignBottom { vertical-align: bottom; }

.NoPadding { padding: 0!important; }
.Padded { padding: 0.5em!important; }
.NoMargin { margin: 0!important }
.NoBorder { border: 0!important }

.Block { display: inline-block; }
.Flex { display: flex; }

.NoMouse { pointer-events: none; }
.YesMouse { pointer-events: auto; }

.Important {
  color: $color-important;
}

.Code {
  font-family: monospace;
  font-size: 12px;
}

.Quote {
  font-style: italic;
}

.Smaller {
  font-size: 10px;
}

.Faded {
  background-color: #0002;
}

.Anchor {
  cursor: pointer;
  pointer-events: all!important;
}

.Spacer20 {
  width: '100%';
  min-height: 20px;
}
.Spacer50 {
  width: '100%';
  min-height: 50px;
}

.Hidden {
  display: none!important;
}

.Relative {
  position: relative;
}

.Grayscale {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.FillWidth {
  width: 100%;
  min-width: 100%;
  align-items: center;
}
.FillHeight {
  height: 100%;
  min-height: 100%;
  vertical-align: middle;
}
.FillParent {
  @extend .FillWidth, .FillHeight;
}

.CenteredContainer {
	height: 100%;
  min-height: 100%;
	width: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	// text-align: center;
}



//------------------------
// ASPECT RATIO
//
$aspect: 1.7777;
$aspect-w: min(100vw,100vh*$aspect);
$aspect-h: min(100vw/$aspect,100vh);
$box-w: calc((100vw - $aspect-w) / 2);
$box-h: calc((100vh - $aspect-h) / 2);
.AspectContent {
	// background-color: #f004;
	position: absolute;
	top: $box-h !important;		// center frame to offset box
	left: $box-w !important;	// center frame to offset box
	width: $aspect-w;
	height: $aspect-h;
  border: #0001 1px solid;
  background-size: cover;
}
.AspectLeft, .AspectRight, .AspectTop, .AspectBottom {
	// background-color: #f0f8;
	position: absolute;
	z-index: 100;
}
.AspectLeft, .AspectRight {
	width: $box-w;
	min-width: 0px;
	min-height: 100vh;
	top: 0;
}
.AspectLeft {
	left: 0;
}
.AspectRight {
	right: 0;
}
.AspectTop, .AspectBottom {
	height: $box-h;
	min-height: 0px;
	min-width: 100vw;
	left: 0;
}
.AspectTop {
	top: 0;
}
.AspectBottom {
	bottom: 0;
}

//
// Backgrounds
//
.LightenBackground {
  background-color: #fffb;
  background-blend-mode:lighten;
}
.BackgroundSplash {
  background-image: url('/images/bg_duel.jpg');
}
.BackgroundWeapons {
  @extend .LightenBackground;
  background-image: url('/images/bg_weapons_1.jpg');
}
.BackgroundDuel {
  background-image: url('/images/bg_duel.jpg');
}

//------------------------
// GAME
//

.App {
	// font-family: $ec-font-titles;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  position: relative;
}

.Logo {
  width: 256px;
  height: 256px;
}

.AppBackgroundFit {
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position-y: center;
}

.TableMain {
  position: relative;
  margin-top: 100px;
  max-height: 500px;
  scrollbar-width: thin;
  overflow-y: scroll;
  // border: 0.5px solid #0001;
}
.TableModal {
  @extend .TableMain;
  max-height: 290px;
  margin: 0;
}
// .TableHeader {
//   position: absolute;
//   top: 0;
// }
// .TableBody {
//   margin-top: 100px;
// }

.ProfilePic {
  pointer-events: none;
  width: calc(439px / 2);
  height: calc(768px / 2);
}
.ProfilePicSquare {
  @extend .ProfilePic;
  width: 35px;
  height: 35px;
}

.DirectionButton {
  /* margin: 0.25em; */
  font-size: 24px;
  text-align: center;
  border: 0;
  padding: 0;
}

.SmallButton {
  margin: 0 0.1em;
  padding: 0.1em 0.4em;
}

.LargeButton {
  margin: 0 0.1em;
  padding: 1em 2em;
}

.Locked {
  background-color: $color-inactive;
}
.Unlocked {
  background-color: $color-active;
}
.Attention {
  background-color: $color-attention;
}

/* GAME CANVAS */

.GameContainer {
  width: $game-width;
  height: $game-height;
  position: relative;
}

.GameView {
  @extend .GameContainer;
  position: absolute;
  top: 0;
  left: 0;
  // outline: 0.5px solid #444;
}

.GameCanvas {
  width: $game-width;
  height: $game-height;
  display: block;
  background-color: #0000;
}

.Overlay {
  background: linear-gradient(#0104, #010d);
}


/* GAME UI */

.UI {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  padding: 0;
  margin: 0;
}

.UIBorder {
  outline: $ui-border;
}

.GameUITop {
  @extend .UI;
  // display: block;
  width: $game-width;
  height: $ui-height;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  // outline: 0.5px solid #444;
}

.GameUIBottom {
  @extend .GameUITop;
  top: unset;
  bottom: 0;
}

.TavernMenu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.TavernTitle {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
}

.AccountHeader {
  width: 600px;
  // position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}


.RowUI{
  width: 100%;
  height: $ui-row;
  max-height: $ui-row;
}
.ColUI{
  width: $ui-column;
  max-width: $ui-column;
  height: 100%;
  vertical-align: bottom;
  margin: auto;
  position: relative;
}
.ColUIContents {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ColUISlider {
  background-color: rgba($color-important, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ButtonUI{
  font-size: 18px;
}

.InfoTop {
  width: 100%;
  height: $ui-row;
  padding: 1em 0 0 0;
  margin: auto;
}
.InfoBottom {
  @extend .AlignMiddle;
  // height: calc($ui-height - $ui-row);
  width: 80%;
  margin: auto;
}


.Tooltip {
	cursor: default; //help;
}
.Icon {
	width: initial !important; // remove width to be able to spin
	margin: 0 !important;
	text-shadow: 0.1em 0 $color-panel;
	color: $color-info;
}
.InfoIcon {
	@extend .Icon;
	// color: $color-info;
}
// Icon click feedback
.IconClick:active {
	animation-name: IconClickAnimation;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: IconClickAnimation;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}
@keyframes IconClickAnimation {
	from { -webkit-transform: scale(0.7); }
	to { -webkit-transform: scale(1); }
}


/* TO BE REMOVED... */

.ProofView {
  position: absolute;
  top: calc(100vw - 250px);
  left: calc(100vh - 100px);
  width: 500px;
  height: 200px;
  background-color: $color-bg;
}


//--------------------
// Unity canvas
//
// #react-unity-webgl-canvas-3 {
// canvas[id^='react-unity-webgl-canvas'] {
.UnityCanvas {
  width: 900px;
  height: 450px;
}


//-----------------------------
// semantic-ui
//
.ui.input>input {
  background: rgb(255, 255, 255);
  color: $color-text;
}
.ui.grid>.row {
  padding: 0.25rem 0; // original: 1.0rem 0
}
.ui.grid>.row>.column {
  padding: 0 0.25rem; // original: 1.0rem 0
}
.ui.menu .item,
.ui.secondary.menu .active.item {
  background-color: rgba($color-bg, 0.5);
  color: $color-important;
  // font-family: $font-family;
  // font-size: 16px;
  // font-weight: 600;
}
.ui.table td.positive, .ui.table tr.positive {
  background: #dafadd !important;
  // color: #2c662d !important;
}
.ui.table td.negative, .ui.table tr.negative {
  background: #fbdbdb!important;
  // color: #9f3a38!important;
}
.ui.table td.warning, .ui.table tr.warning {
  background: #f9e9d0 !important;
  // color: #573a08 !important;
}
