
$font-family: Menlo, monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-bg: #f5f5f5;
$color-white: #f5f5f5;
$color-shadow: #b4b4b4;
$color-text: #000;
$color-icon: #444;
$color-important: #e00000;
$color-active: #e00000;
$color-inactive: #712727;
$color-attention: #22b600;
$ui-border: 6px ridge $color-active;
$ui-outline: 0.5px solid #444444;
$text-shadow: 0.05em 0.05em 1px #0008;

$color-positive: #dafadd;
$color-negative: #fbdbdb;
$color-warning: #f9e9d0;

$game-width: 960px;
$game-height: 540px;
$ui-height: 180px;
$ui-compass-width: 360px;
$ui-column: 60px;
$ui-row: 40px;

html {
	overflow: scroll;
	// scroll-behavior: smooth;
}

html, body {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $color-bg;
  color: $color-text;
  text-shadow: $text-shadow;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-important;
  text-decoration: inherit;
  font-weight: 600;
}

a:hover {
  color: $color-important;
  text-decoration: underline;
}

h1 {
  font-size: 2.2em;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  text-shadow: $text-shadow;
  line-height: 1.2em;
  margin: 0.2em 0;
}

hr {
  color: #444;
  border: 0.5px solid;
}

button {
  background-color: $color-active;
  color: $color-bg;
  text-shadow: $text-shadow;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}


//------------------------
// GENERIC
//

.AlignLeft { text-align: left!important; justify-content: left!important; }
.AlignCenter { text-align: center!important; justify-content: center!important; }
.AlignRight { text-align: right!important; justify-content: right!important; }
.AlignTop { vertical-align: top; }
.AlignMiddle { vertical-align: middle; }
.AlignBottom { vertical-align: bottom; }

.NoPadding { padding: 0!important; }
.NoMargin { margin: 0!important }
.NoBorder { border: 0!important }
.AutoMargin { margin: auto!important }

.Padded { padding: 0.5em!important; }
.PaddedLeft { padding-left: 0.5em!important; }
.PaddedRight { padding-right: 0.5em!important; }
.PaddedTop { padding-top: 0.5em!important; }
.PaddedBottom { padding-bottom: 0.5em!important; }

.Margin6 { margin: 6px!important }

.Block { display: inline-block; }
.Flex { display: flex; }

.NoMouse { pointer-events: none; }
.YesMouse { pointer-events: auto; }

.Important {
  color: $color-important;
}
.Bold {
  font-weight: 600;
}

.Positive {
  background-color: $color-positive!important;
}
.Negative {
  background-color: $color-negative!important;
}
.Warning {
  background-color: $color-warning!important;
}

.Code {
  font-family: monospace;
  font-size: 12px;
}

.Quote {
  font-style: italic;
}

.Smaller {
  font-size: 10px;
}

.Faded {
  background-color: #0002;
}

.AboveAll {
  z-index: 1000;
}

.Anchor {
  cursor: pointer;
  pointer-events: all!important;
}

.Spacer20 {
  width: '100%';
  min-height: 20px;
}
.Spacer50 {
  width: '100%';
  min-height: 50px;
}

.Hidden {
  display: none!important;
}

.Relative {
  position: relative;
}
.AbsoluteLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.AbsoluteRight {
  position: absolute;
  top: 0;
  right: 0;
}

.Grayscale {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.FillWidth {
  width: 100%!important;
  min-width: 100%;
  align-items: center;
}
.FillHeight {
  height: 100%!important;
  min-height: 100%;
  vertical-align: middle;
}
.FillParent {
  @extend .FillWidth, .FillHeight;
}

.CenteredContainer {
	height: 100%;
  min-height: 100%;
	width: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	// text-align: center;
}



//------------------------
// ASPECT RATIO
//
// $reference-w: 1200;
// $reference-h: 675;
$aspect: 1.7777;
$aspect-w: min(100vw,100vh*$aspect);
$aspect-h: min(100vw/$aspect,100vh);
$box-w: calc((100vw - $aspect-w) / 2);
$box-h: calc((100vh - $aspect-h) / 2);
.AspectContent {
	// background-color: #f004;
	position: absolute;
	top: $box-h !important;		// center frame to offset box
	left: $box-w !important;	// center frame to offset box
	width: $aspect-w;
	height: $aspect-h;
  border: #0001 1px solid;
  background-size: cover;
}
.AspectLeft, .AspectRight, .AspectTop, .AspectBottom {
	// background-color: #f0f8;
	position: absolute;
	z-index: 100;
}
.AspectLeft, .AspectRight {
	width: $box-w;
	min-width: 0px;
	min-height: 100vh;
	top: 0;
}
.AspectLeft {
	left: 0;
}
.AspectRight {
	right: 0;
}
.AspectTop, .AspectBottom {
	height: $box-h;
	min-height: 0px;
	min-width: 100vw;
	left: 0;
}
.AspectTop {
	top: 0;
}
.AspectBottom {
	bottom: 0;
}

//
// Backgrounds
//
.LightenBackground {
  background-color: #fffb;
  background-blend-mode:lighten;
}
.BackgroundSplash {
  background-image: url('/images/bg_duel.jpg');
}
.BackgroundWeapons {
  @extend .LightenBackground;
  background-image: url('/images/bg_weapons_1.jpg');
}
.BackgroundDuel {
  background-image: url('/images/bg_duel.jpg');
}

//------------------------
// GAME
//

.App {
	// font-family: $ec-font-titles;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  position: relative;
}

.Logo {
  width: 256px;
  height: 256px;
}

.AppBackgroundFit {
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position-y: center;
}

.TableMain {
  position: relative;
  margin-top: 100px;
  max-height: 500px;
  width: 800px;
  scrollbar-width: thin;
  overflow-y: scroll;
  // border: 0.5px solid #0001;
}
.TableModal {
  @extend .TableMain;
  max-height: 290px;
  margin: 0;
}
.TableValue {
  font-size: 14px;
  font-weight: 600;
}

// .TableHeader {
//   height: 30px!important;
//   max-height: 30px!important;
// }
// .TableBody {
//   margin-top: 100px;
// }

.ProfilePic {
  pointer-events: none;
  width: calc(439px / 2);
  height: calc(768px / 2);
}
.ProfilePicDuel {
  @extend .ProfilePic;
  width: calc(439px / 3);
  height: calc(768px / 3);
}
.ProfilePicSquare {
  @extend .ProfilePic;
  width: 35px;
  height: 35px;
}

.DirectionButton {
  /* margin: 0.25em; */
  font-size: 24px;
  text-align: center;
  border: 0;
  padding: 0;
}

.SmallButton {
  margin: 0 0.1em;
  padding: 0.1em 0.4em;
}

.LargeButton {
  margin: 0 0.1em;
  padding: 1em 2em;
}

.Locked {
  background-color: $color-inactive;
}
.Unlocked {
  background-color: $color-active;
}
.Attention {
  background-color: $color-attention;
}

// GAME CANVAS

.GameContainer {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  position: relative;
}

.GameView {
  @extend .GameContainer;
  position: absolute;
  top: 0;
  left: 0;
  // outline: 0.5px solid #444;
}

.GameCanvas {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #0000;
}

.Overlay {
  // background: linear-gradient(#0004, #000d);
  background: #fffd;
}


// Pistols

.MenuTop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.MenuBottom {
  @extend .MenuTop;
  top: unset;
  bottom: 0;
}

.TavernTitle {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.AccountHeader {
  width: 600px;
  // position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.DuelSideA {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  text-align: left;
  align-items: left;
}
.DuelSideB {
  @extend .DuelSideA;
  left: unset;
  right: 0;
  text-align: right;
  align-items: right;
}

.DuelProfileA {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
  width: 100%;
}
.DuelProfileB {
  @extend .DuelProfileA;
  text-align: right;
  justify-content: right;
}

.DuelProgress {
  margin-top: 20px;
}

.DuelResults {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

// <IconXXX>

.Tooltip {
	cursor: default; //help;
}
.Icon {
	width: initial !important; // remove width to be able to spin
	margin: 0 !important;
	text-shadow: 0.1em 0 $color-shadow;
	color: $color-icon;
}
.InfoIcon {
	@extend .Icon;
	// color: $color-icon;
}
.StepsIcon {
  font-family: monospace!important;
  font-size: 12px!important;
  font-weight: 600!important;
  color: $color-bg;
  text-shadow: 0 0 2px #000;
  margin: -2px 0 0 -2px!important;
}
.StepsIcon.small {
  font-size: 12px!important;
}
.StepsIcon.large {
  font-size: 16px!important;
}
.StepsIcon.big {
  font-size: 20px!important;
}

.StepsIconRound {
  font-family: monospace!important;
  font-size: 16px!important;
  // circle
  border-radius: 50%;
  background: rgba($color-bg, 0.8);
}


// Icon click feedback
.IconClick:active {
	animation-name: IconClickAnimation;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: IconClickAnimation;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}
@keyframes IconClickAnimation {
	from { -webkit-transform: scale(0.7); }
	to { -webkit-transform: scale(1); }
}


/* TO BE REMOVED... */

.ProofView {
  position: absolute;
  top: calc(100vw - 250px);
  left: calc(100vh - 100px);
  width: 500px;
  height: 200px;
  background-color: $color-bg;
}


//--------------------
// Unity canvas
//
// #react-unity-webgl-canvas-3 {
// canvas[id^='react-unity-webgl-canvas'] {
.UnityCanvas {
  width: 900px;
  height: 450px;
}


//-----------------------------
// semantic-ui
//
// 
// <Input>
.ui.input>input {
  background: rgb(255, 255, 255);
  color: $color-text;
}
//
// <Grid>
.ui.grid>.row {
  padding: 0.25rem 0; // original: 1.0rem 0
}
.ui.grid>.row>.column {
  padding: 0 0.25rem; // original: 1.0rem 0
}
//
// <Button>
.ui.button.toggle.active,
.ui.buttons .button.toggle.active,
.ui.toggle.buttons .active.button {
  background-color: $color-important!important;
}
//
// <Menu> buttons
.ui.menu .item {
  color: $color-text;
}
// .ui.menu .item,
.ui.secondary.menu .active.item,
.ui.secondary.menu .active.item:hover {
  background-color: $color-important;
  color: $color-white;
  // font-family: $font-family;
  // font-size: 16px;
  // font-weight: 600;
}
.ui.secondary.menu .item {
  background-color: rgba($color-bg, 0.5);
  color: $color-important;
}
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  background-color: rgba($color-bg, 0.7);
  color: $color-important;
}
//
// <Table>
.ui.table td.positive, .ui.table tr.positive {
  background: $color-positive !important;
}
.ui.table td.negative, .ui.table tr.negative {
  background: $color-negative!important;
}
.ui.table td.warning, .ui.table tr.warning {
  background: $color-warning !important;
}
//
// Pagination
.ui.pagination.menu .active.item {
  background-color: $color-important;
  color: $color-white;
  // font-weight: 800;
}
//
// <Step>
.ui.steps .step.active .title {
  color: $color-important;
}
.ui.vertical.steps .active.step:after,
.ui.vertical.steps .active.step:last-child:after {
  display: none;
}
// .ui.steps .step.active {
//   background-color: $color-positive;
// }

