@import 'aspect';
@import 'color';

.PosterModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Poster {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}


// ProfilePoster.tsx
.WantedText {
  font-size: aspect-width(3.4);
  letter-spacing: aspect-width(2);
  text-transform: uppercase;
  text-align: center;
  color: $color-darkest;
  font-weight: 900;
  margin-top: aspect-width(1.8);
  margin-left: aspect-width(2);

  &.Small {
    font-size: aspect-width(1.4);
    letter-spacing: aspect-width(0.8);
    margin-top: aspect-width(0.8);
    margin-left: aspect-width(0.6);
  }
}

.ProfileSection {
  margin-top: aspect-width(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;  

  &.Small {
    flex-grow: 1;
  }
}

.PlayerName {
  font-size: aspect-width(2.4);
  font-weight: bold;
  color: $color-darkest;
  margin-top: aspect-width(0.8);

  &.Small {
    flex-grow: 1;
    font-size: aspect-width(1.6);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    max-width: aspect-width(10);
    word-break: break-word;
    overflow: hidden;
    line-height: aspect-width(1.5);
    max-height: aspect-width(4.5);
  }
}

.PlayerAddress {
  margin-top: aspect-width(0.4);
  color: $color-dark;
}

.OnlineStatusSection {
  position: absolute;
  top: 10.5%;
  right: 20.5%;
  width: aspect-width(2);
  height: aspect-width(2);
  z-index: 10;

  &.Small {
    top: aspect-width(2.8);
    right: aspect-width(1.6);
    width: aspect-width(1.2);
    height: aspect-width(1.2);
  }

  &.Smaller {
    top: aspect-width(3);
    right: aspect-width(1);
    width: aspect-width(1.2);
    height: aspect-width(1.2);
  }

  .OnlineStatus {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid $color-darkest;

    &.Small {
      border: 3px solid $color-darkest;
    }

    &.Online {
      background-color: green;
    }

    &.Offline {
      background-color: red;
    }
  }
  
  
}

.DuelistsSection {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: aspect-width(1);
  margin-left: 5%;
}

.NavButton {
  background: none;
  border: none;
  font-size: aspect-width(2);
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.NavButton:hover {
  transform: scale(1.2);
}

.NavButton:focus {
  outline: none;
}

.NavButton:focus-visible {
  outline: none;
}

.WantedDivider {
  width: 80%;
  height: aspect-height(0.1);
  margin-top: aspect-width(1);
  color: $color-darkest;
  font-size: aspect-width(1);

  &.EqualMargin {
    margin-bottom: aspect-width(1);
  }
}

.ButtonSection {
  width: 90%;
  margin-top: aspect-width(0.5) !important;
}

.BookmarkSection {
  position: absolute;
  transform-origin: center aspect-width(2);
  background-image: url('/images/ui/seal.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: aspect-width(2);
  z-index: 10;
  width: aspect-width(6);
  height: aspect-width(9);
  top: -1%;
  left: 0%;
  transform: scaleX(-1) rotateZ(-20deg);
}

.BookmarkIcon {
  color: $color-bright;
}



//DuelPoster.tsx
.PlayerNameA {
  width: 88%;
  position: relative;
  text-align: start;
  font-size: aspect-width(1);

  &.Large {
    width: 84%;
    height: 6%;
    font-size: aspect-width(2.6);
    margin-top: -1.5%;
  }
}

.PlayerNameB {
  width: 88%;
  position: relative;
  margin-top: aspect-width(0.6);
  text-align: end;
  font-size: aspect-width(1);

  &.Large {
    width: 84%;
    height: 6%;
    font-size: aspect-width(2.6);
  }
}

.ProfilePicContainer {
  width: 88%;
  position: relative;
  height: 37%;

  &.Large {
    width: 84%;
    height: 27%;
  }
}

.VS {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: aspect-width(3);
  font-weight: bold;
  color: $color-darkest;
}

.TableDescriptionFooter {
  font-size: aspect-width(1);
  font-weight: bold;
  margin-top: aspect-width(0.6);
  color: $color-dark;
}

.TableDescriptionTitle {
  font-size: aspect-width(2.4);
  font-weight: bold;
  margin-top: aspect-width(1);
}

.DuelInfoContainer {
  width: 95%;
  height: 36%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: aspect-width(0.8);
}

.DuelistCard {
  position: relative;
  z-index: 2;

  &.Left {
    transform: translateX(-80%);
  }
}

.DuelIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  min-height: aspect-width(4.4);
  font-size: aspect-width(0.5);
  color: $color-darkest;
  transform: scale(1.4);
}

.InfoGrid {
  position: relative;
  z-index: 1;
  flex: 1;
  height: '100%';
}

.ProfilePicChallengeContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-darkest;
  
  &.Small {
    width: aspect-width(6.3);
    height: aspect-width(6.3);
  }

  &.Large {
    width: aspect-width(15.8);
    height: aspect-width(13.8);
  }
  
  &.Left {
    left: 0;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
  }

  &.Right {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }

  .ProfilePicChallenge {
    z-index: 100;

    &.Left {
      clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
    }
  
    &.Right {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    }
  }

  #DefeatedOverlay {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 500;

    &.Left {
      left: 0;
    }

    &.Right {
      right: 0;      
    }

    &.visible {
      opacity: 1;
    }
  }
}

.StampOverlay {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.Blocked {
    background-image: url('/images/ui/stamps/black_stamp_cork.png');
  }

  &.Team {
    background-image: url('/images/ui/stamps/team_stamp_cork.png');
  }

  &.Gold {
    background-image: url('/images/ui/stamps/gold_stamp_cork.png');
  }

  &.Silver {
    background-image: url('/images/ui/stamps/silver_stamp_cork.png');
  }

  &.Lead {
    background-image: url('/images/ui/stamps/lead_stamp_cork.png');
  }
  
  &.ProfileSmall {
    width: aspect-width(2.4);
    height: aspect-width(2.4);
    
    &.Left {
      top: aspect-width(10.5);
      left: aspect-width(1.4);
    }

    &.Right {
      top: aspect-width(10.5);
      right: aspect-width(1.4);
    }
  }

  &.ProfileLarge {
    width: aspect-width(5.2);
    height: aspect-width(5.2);

    &.Left {
      top: aspect-width(24);
      left: aspect-width(8);
    }

    &.Right { 
      top: aspect-width(24);
      right: aspect-width(8);
    }
  }

  &.DuelSmall {
    width: aspect-width(2.2);
    height: aspect-width(2.2);

    &.Left {  
      top: aspect-width(-0.8);
      left: aspect-width(-0.4);
    }

    &.Right { 
      bottom: aspect-width(-0.8);
      right: aspect-width(-0.4);
    }
  }

  &.DuelLarge {
    width: aspect-width(4.4);
    height: aspect-width(4.4);

    &.Left {
      top: aspect-width(-1.2);
      left: aspect-width(-0.8);
    }

    &.Right {
      bottom: aspect-width(-1.2);
      right: aspect-width(-0.8);
    }
  }

  &.DuelProfile {
    width: aspect-width(2.35);
    height: aspect-width(2.35);

    &.Left {
      top: aspect-width(6.84);
      left: aspect-width(0.4);
    }

    &.Right {
      top: aspect-width(6.84);
      right: aspect-width(0.4);
    }
  }
}

$fireColor: rgb(128,0,128);
$fireColorT: rgba(128,0,128,0);
$color-purple: #800080;
$dur: 1s;
$blur: aspect-width(0.02);
$fireRad: aspect-width(3);
$parts: 50;
$partSize: aspect-width(4);

.SpecialLives {
  position: relative;
  display: inline;
  line-height: 1;

  .fire {
    font-size: aspect-width(20);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.32);
    width: aspect-width(8);
    height: aspect-width(10);
    z-index: 1;
    pointer-events: none;
  }

  .particle {
    animation: rise $dur ease-in infinite;
    background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: $partSize;
    height: $partSize;
    @for $p from 1 through $parts {
      &:nth-of-type(#{$p}) {
        animation-delay: $dur * random();
        left: calc((100% - #{$partSize}) * (#{($p - 1)}/#{$parts}));
      }
    }
  }

  .NumberThree {
    position: relative;
    z-index: 2;
    font-size: aspect-width(2);
    color: white;
    text-shadow: 
      -1px -1px 0 $color-purple,
      1px -1px 0 $color-purple,
      -1px 1px 0 $color-purple,
      1px 1px 0 $color-purple;
  }
}

.HighStakesText {
  background: linear-gradient(to bottom, #800080, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(128, 0, 128, 0.4);
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(aspect-width(-8)) scale(0);
  }
}

.TimerCountdown {
  &.Normal {
    color: $color-darkest !important;
  }
  &.Warning {
    color: $color-medium !important;
  }
  &.Critical {
    color: $color-negative !important;
  }
}