
$font-family: 'EB Garamond', serif;
$font-family-mono: 'Courier Prime', monospace;
// $font-family-mono: 'Xanh Mono', monospace;

// Figma colors
// https://www.figma.com/file/eseZA1jRIoX6IYNtoHgz30/Pistols-at-Ten-Blocks
$color-bg: #000; //#1e1e1e;
$color-darkest: #201a18;
$color-dark: #57493e;
$color-medium: #ef9758;
$color-medium-bg: #ce6f2c;
$color-bright: #c8b6a8;
$color-brightest: #efe1d7;

$color-white: $color-brightest;
$color-shadow: $color-bg;
$color-text: $color-bright;
$color-link: $color-medium;
$color-important: $color-medium;
$color-active: $color-medium;
$color-inactive: rgba($color-brightest, 0.35);
$text-shadow: 0.05rem 0.05rem 1px rgba($color-darkest, 0.5);
$title-shadow: 0.2rem 0.2rem 1px rgba($color-bg, 0.5);
$ui-border: 6px ridge $color-active;
$menu-width: 620px;

$border-hr: solid 0.5px rgba($color-bright, 0.5);
$border-button: 1px solid $color-bright;
$border-button-active: 1px solid $color-brightest;
$border-button-inactive: 1px solid rgba($color-bright, 0.5);

$color-positive: #21ba45;
$color-negative: #ff4225;
$color-warning: #f2c037;
$color-cold: #31b9c3;

$game-width: 960px;
$game-height: 540px;
$ui-height: 180px;
$ui-compass-width: 360px;
$ui-column: 60px;
$ui-row: 40px;

html {
	overflow: hidden;
	// scroll-behavior: smooth;
}

html, body {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $color-bg;
  color: $color-text;
  text-shadow: $text-shadow;
}

body {
  margin: 0;
  // display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-link;
  text-decoration: inherit;
  font-weight: 600;
}

a:hover {
  color: $color-link;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

h1, .H1 { font-size: 2.6em; }
h2, .H2 { font-size: 2.2em; }
h3, .H3 { font-size: 1.8em; }
h4, .H4 { font-size: 1.5em; }
h5, .H5 { font-size: 1.2em; }

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  text-shadow: $text-shadow;
  line-height: 1.2em;
  margin: 0.2em 0;
  color: $color-brightest;
}

hr {
  border: $border-hr;
}

button {
  background-color: $color-active;
  color: $color-bg;
  text-shadow: $text-shadow;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}


//-----------------------------------
// scss mixins
// https: //sass-lang.com/documentation/at-rules/mixin
@mixin make-box-shadow($values_) {
	-webkit-box-shadow: $values_;
	-moz-box-shadow: $values_;
	box-shadow: $values_;
}
@mixin make-animation($duration_, $ease_, $count_, $name_) {
	animation-duration: $duration_;
	animation-timing-function: $ease_;
	animation-iteration-count: $count_;
	animation-fill-mode: forwards;
	animation-name: $name_;
	-webkit-animation-duration: $duration_;
	-webkit-animation-timing-function: $ease_;
	-webkit-animation-iteration-count: $count_;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: $name_;
}


//------------------------
// GENERIC
//

.AlignLeft { text-align: left!important; justify-content: left!important; }
.AlignCenter { text-align: center!important; justify-content: center!important; }
.AlignRight { text-align: right!important; justify-content: right!important; }
.AlignTop { vertical-align: top; }
.AlignMiddle { vertical-align: middle; }
.AlignBottom { vertical-align: bottom; }

.NoPadding { padding: 0!important; }
.NoSidePadding { padding-left: 0!important; padding-right: 0!important; }
.NoMargin { margin: 0!important }
.NoBorder { border: 0!important }
.AutoMargin { margin: auto!important }
.AutoWidth { width: auto!important }
.AutoHeight { height: auto!important }

.Padded { padding: 0.5em!important; }
.PaddedHalf { padding: 0.25em!important; }
.PaddedDouble { padding: 1em!important; }
.PaddedLeft { padding-left: 0.5em!important; }
.PaddedRight { padding-right: 0.5em!important; }
.PaddedSides { @extend .PaddedLeft; @extend .PaddedRight; }
.PaddedTop { padding-top: 0.5em!important; }
.PaddedBottom { padding-bottom: 0.5em!important; }

.Margin6 { margin: 6px!important }

.FloatRight { float:right; }

.Block { display: inline-block; }
.Flex { display: flex; }

.Overflow { overflow: hidden; } // do not expand parent
.BreakWord { word-wrap:break-word!important; overflow-wrap: break-word!important; }
.NoBreak { white-space: nowrap; }

.NoMouse { pointer-events: none; }
.YesMouse { pointer-events: auto; }

.Bold {
  color: $color-brightest;
  font-weight: 600;
}

.Crossed {
  text-decoration: line-through;
}

.Black     { color: #444; }
.Important { color: $color-important!important; }
.Normal    { color: $color-bright!important; }
.Brightest { color: $color-brightest!important; }
.Positive  { color: $color-positive!important; }
.Negative  { color: $color-negative!important; }
.Warning   { color: $color-warning!important; }
.Canceled  { color: $color-inactive!important; }
.Inactive  { color: $color-inactive!important; }
.Disabled  { color: $color-inactive!important; }

.BgBlack     { background-color: #444; }
.BgImportant { background-color: $color-medium-bg!important; }
.BgBrightest { background-color: $color-brightest!important; }
.BgDark      { background-color: $color-dark!important; }
.BgDarkest   { background-color: $color-darkest!important; }
.BgPositive  { background-color: $color-positive!important; }
.BgNegative  { background-color: $color-negative!important; }
.BgWarning   { background-color: $color-warning!important; }
.BgCanceled  { background-color: $color-inactive!important; }
.BgInactive  { background-color: $color-inactive!important; }

.Translucent { opacity: 0.7!important; }


.Number {
  // @extend .TitleCase;
  font-family: $font-family-mono;
  line-height: 1.0rem!important;
}
.Code {
  @extend .Number;
  font-size: 1.2rem;
}

.Quote {
  font-style: italic;
}

.Smallest {
  font-size: 0.7em!important;
}
.Smaller {
  font-size: 0.8em!important;
}
.ResetSize {
  font-size: 1.0em!important;
}
.Larger {
  font-size: 1.5em!important;
}

.Faded {
  background-color: #0002;
}

.AboveAll {
  z-index: 1000;
}

.Anchor {
  cursor: pointer!important;
  pointer-events: all!important;
  user-select: none;
  z-index: 1000;
}

.NoSelection {
  user-select: none;
}

.Spacer5 {
  width: '100%';
  min-height: 5px;
}
.Spacer10 {
  width: '100%';
  min-height: 10px;
}
.Spacer20 {
  width: '100%';
  min-height: 20px;
}
.Spacer50 {
  width: '100%';
  min-height: 50px;
}

.Hidden {
  display: none!important;
}

.Relative {
  position: relative;
}
.Absolute, .AbsoluteLeft {
  position: absolute!important;
  top: 0;
  left: 0;
}
.AbsoluteRight {
  position: absolute;
  top: 0;
  right: 0;
}
.AbsoluteBottom {
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
}

.Grayscale {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.Sepia {
  filter: sepia(100%); /* Current draft standard */
  -webkit-filter: sepia(100%); /* New WebKit */
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%); 
  -o-filter: sepia(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: rgb(185, 176, 117); /* IE */
  -webkit-filter: sepia(1); /* Old WebKit */
}

.FillViewport {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.FillWidth80 {
  width: 80%!important;
  min-width: 80%;
  align-items: center;
}
.FillWidth90 {
  width: 90%!important;
  min-width: 90%;
  align-items: center;
}
.FillWidth {
  width: 100%!important;
  min-width: 100%!important;
  align-items: center;
}
.FillHeight {
  height: 100%!important;
  min-height: 100%;
  vertical-align: middle;
}
.FillParent {
  @extend .FillWidth, .FillHeight;
}
.FillHalfHeight {
  @extend .FillWidth;
  height: 50%;
}
.FillHalfWidth {
  @extend .FillHeight;
  width: 50%;
}

.CenteredContainer {
	height: 100%;
  min-height: 100%;
	width: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	// text-align: center;
}

.Scroller {
  scrollbar-width: thin;
  overflow-y: scroll;
}

TextArea {
  font-family: $font-family-mono;
  background-color: $color-dark;
  color: $color-text;
  width: 100%;
  height: 400px;
}
TextArea::selection {
  background-color: $color-brightest;
  color: $color-dark;
}

.FlipHorizontal {
  transform: scale(-1, 1);
}


//------------------------
// ASPECT RATIO
//
// $reference-w: 1200;
// $reference-h: 675;
$aspect: 1.7777;
$aspect-w: min(100vw,100vh*$aspect);
$aspect-h: min(100vw/$aspect,100vh);
$box-w: calc((100vw - $aspect-w) / 2);
$box-h: calc((100vh - $aspect-h) / 2);
.AspectContent {
	// background-color: #f004;
	position: absolute;
	top: $box-h !important;		// center frame to offset box
	left: $box-w !important;	// center frame to offset box
	width: $aspect-w;
	height: $aspect-h;
  background-size: cover;
}
.AspectLeft, .AspectRight, .AspectTop, .AspectBottom {
	// background-color: #f0f8;
	position: absolute;
	z-index: 100;
}
.AspectLeft, .AspectRight {
	width: $box-w;
	min-width: 0px;
	min-height: 100vh;
	top: 0;
}
.AspectLeft {
	left: 0;
}
.AspectRight {
	right: 0;
}
.AspectTop, .AspectBottom {
	height: $box-h;
	min-height: 0px;
	min-width: 100vw;
	left: 0;
}
.AspectTop {
	top: 0;
}
.AspectBottom {
	bottom: 0;
}

.DebuggerButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

//
// Backgrounds
//
.LightenBackground {
  background-color: #fffb;
  background-blend-mode:lighten;
}
.Background {
    background-color: #1c130c;
}
.BackgroundSplash {
  @extend .Background;
  background-image: url('/images/bg_duel.jpg');
}
.BackgroundGate {
  @extend .Background;
  background-image: url('/images/bg_gate.jpg');
}
.BackgroundDuelists {
  @extend .Background;
  background-image: url('/images/bg_duelists.jpg');
}
.BackgroundDuelsYour {
  @extend .Background;
  background-image: url('/images/bg_duels_yours.jpg');
}
.BackgroundDuelsLive {
  @extend .Background;
  background-image: url('/images/bg_duels_live.jpg');
}
.BackgroundDuelsPast {
  @extend .Background;
  background-image: url('/images/bg_duels_past.jpg');
}
.BackgroundDuel {
  @extend .Background;
  background-image: url('/images/bg_duel.jpg');
}


//------------------------
// GAME
//

.App {
	// font-family: $font-family;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  position: relative;
}

.Logo {
  width: 256px;
  height: 256px;
}

.AppBackgroundFit {
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position-y: center;
}

.TableMain {
  @extend .Scroller;
  position: relative;
  margin-top: 100px;
  max-height: 500px;
  width: 800px;
  // border: 0.5px solid #0001;
}
.TableValue {
  // color: $color-brightest;
  font-size: 16px;
  font-weight: 600;
}
.TableInModal {
  @extend .Scroller;
  max-height: 400px;
}
.TableCell {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.2em 0;
  color: $color-brightest;
  // font-weight: 600;
}

.ModalText {
  font-size: 18px!important;
}
.DuelistModal {
  width: 900px;
  // height: 450px;
}
.DuelistModalDescription {
  width: $menu-width;
}
.BladesModalDescription {
  @extend .CenteredContainer;
  height: 130px;
}

.StarknetConnectModal {
  max-width: 400px;
}

.OnboardingProfile {
  max-height: 300px;
}

// .TableHeader {
//   height: 30px!important;
//   max-height: 30px!important;
// }
// .TableBody {
//   margin-top: 100px;
// }

.DirectionButton {
  /* margin: 0.25em; */
  font-size: 24px;
  text-align: center;
  border: 0;
  padding: 0;
}

.SmallButton {
  margin: 0 0.1em;
  padding: 0.1em 0.4em;
  min-height: unset;
}

.LargeButton {
  margin: 0 0.1em;
  padding: 1em 2em;
  font-size: 1.5em!important;
}

.FilterButton {
  padding: 0 0.35em!important;
  min-height: 20px!important;
  max-height: 20px!important;
  font-size: 1rem!important;
}
.FilterButtonMargin {
  margin: 0 0 0 0.5em!important;
}
#FilterByName {
  @extend .FilterButton, .TitleCase;
  margin: 0;
  width: 120px;
}

.Locked {
  background-color: $color-inactive;
}
.Unlocked {
  background-color: $color-active;
}

// GAME CANVAS

.GameContainer {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  position: relative;
}

.GameCanvas {
  @extend .GameContainer;
  position: absolute;
  top: 0;
  left: 0;
  // outline: 0.5px solid #444;
}

.GameCanvas {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #0000;
}

.Overlay {
  @extend .GameCanvas, .CenteredContainer, .AboveAll, .TitleCase;
  background: #000d;
}


//
// Pistols
//
$profile-pic-width: 80px;
$ui-header-height: 100px;
$ui-container-gap: 1em;

.UIHeader {
  // background-color: #0f04;
  background-image: linear-gradient(to bottom, #0008, #0004, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $ui-header-height;
}
.UIContainer {
  // background-color: #f004;
  background-image: linear-gradient(to right, #000a, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: $ui-header-height 1em 1em !important;
  margin: 0!important;
  padding: $ui-container-gap;
  min-width: $menu-width;
  max-width: $menu-width;
}
// descendent of #Gate
#Gate .UIContainer {
  // @extend .UIContainerDesktop;
  min-width: 450px;
  max-width: 450px;
  width: 450px;
  padding: 1em!important;
}
.UIMenuTavernScroller {
  @extend .Scroller;
  width: 100%;
  height: calc($aspect-h - $ui-header-height - 1em * 6 - 1px);
}
.UIAccountsListScroller {
  @extend .UIMenuTavernScroller;
  height: calc($aspect-h - 12px - 285px - 12px - 41px - 12px);
  // height: 100%;
  // background-color: red;
}

.BarMenuTooltip {
  // position: absolute!important;
  // top: 0!important;
  // right: 0!important;
}
#BarMenuTooltipAnchor {
  @extend .NoMouse;
  position: fixed; // absolute to window
  top: 0;
  left: 0;
  // display: none;
}

.TitleCase {
  // text-transform: uppercase;
  font-variant-caps: small-caps;
}

.Title {
  @extend .TitleCase;
  text-shadow: $title-shadow;
  font-size: 2em!important;
}

.ProfilePic {
  width: calc(439px / 2);
  height: calc(768px / 2);
  border-radius: 8px;
  border: $border-button;
  box-shadow: $title-shadow;
}
.ProfilePicAnon {
  @extend .ProfilePic;
  height: calc(439px / 2);
}
.ProfilePicDuel {
  width: 8.5vw;
  height: 8.5vw;
  object-fit: cover;
  clip-path: circle();
  object-position: 50% 20%; //TODO this moves the image center for the rounded image change to a proper solution
  margin:0.95vw;
}
.ProfilePicSquare {
  width: $profile-pic-width;
  height: $profile-pic-width;
  // border: $border-button-inactive;
  border-radius: 4px;
  margin: auto;
}
.ProfilePicMedium {
  @extend .ProfilePicSquare;
  width: 60px;
  height: 60px;
  border: none;
}
.ProfilePicCircle {
  width: 6.8vw;
  height: 6.8vw;
  object-fit: cover;
  object-position: 50% 20%; //TODO this moves the image center for the rounded image change to a proper solution
  clip-path: circle();
  margin: 0.23vw;
}
.ProfilePicSmall {
  @extend .ProfilePicSquare;
  width: 40px;
  height: 40px;
  border: none;
}
.ProfilePicHeight {
  height: $profile-pic-width;
  min-height: $profile-pic-width!important;
}

.ProfilePicSelectButton {
  color: $color-bright;
  text-shadow: $text-shadow;
  font-size: 1.5em;
  width: 50%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  padding-top: calc(50%);
  margin: auto;
}
.ProfilePicSelectButton:hover {
  color: $color-brightest;
}
.ProfilePicDisabled {
  // @extend .Grayscale;
  @extend .Sepia;
}

.ProfileStats {
  top: 0.3em;
  font-size: 1.3em;
  line-height: 1.1em;
}

.FormLabel {
  @extend .TitleCase;
  color: $color-text;
  font-size: 1.1em;
  line-height: 1.2em;
}
.FormAnonDescription {
  // fix modal + image fluid description
  flex: 1 0 auto!important;
}

.MenuTop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.MenuBottom {
  @extend .MenuTop;
  top: unset;
  bottom: 0;
}

.MenuBottomDuel {
  @extend .MenuBottom;
  padding: 0px;
}

.MenuBottomBackground {
  position: absolute;
  height: 2.5vw;
  bottom: 0;
  left: 0;
  right: 0;
}

.MenuBottomBackgroundImage {
  width: 25vw;
  height: 2.5vw;
}

.TavernBoard {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 6vw;
}

.TavernTitle {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 4vw;
  right: 4vw;
  width: 22vw;
  height: 1.4vw;
  line-height: 1.4vw;
  text-align: center;
  font-size: 0.9vw;
}

.TavernWager {
  pointer-events: none;
  position: absolute;
  top: 1.2vw;
  left: 4vw;
  right: 4vw;
  width: 22vw;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
}

.TavernWager[data-contentlength="0"] {
  font-size: 1.4vw;
}
.TavernWager[data-contentlength="1"] {
  font-size: 1.3vw;
}
.TavernWager[data-contentlength="2"] {
  font-size: 1.2vw;
}
.TavernWager[data-contentlength="3"] {
  font-size: 1vw;
}

.TavernTable {
  pointer-events: none;
  position: absolute;
  top: 3.3vw;
  left: 10.2vw;
  right: 10.2vw;
  width: 9.6vw;
  height: 1.5vw;
  line-height: 1.5vw;
  text-align: center;
  color: black;
}

.TavernTable[data-contentlength="0"] {
  font-size: 1vw;
}
.TavernTable[data-contentlength="1"] {
  font-size: 0.85vw;
}
.TavernTable[data-contentlength="2"] {
  font-size: 0.7vw;
}
.TavernTable[data-contentlength="3"] {
  font-size: 0.6vw;
}

.DuelProfile {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  width: 30vw;
}
.DuelProfileA {
  @extend .DuelProfile;
  justify-content: left;
  text-align: left;
  top: 0;
  left: 0;
}
.DuelProfileB {
  @extend .DuelProfile;
  justify-content: right;
  text-align: right;
  top: 0;
  right: 0;
}

.DuelistProfileA {
  @extend .DuelProfile;
  justify-content: left;
  align-items: flex-end;
  text-align: left;
  bottom: 0;
  left: 0;
}
.DuelistProfileB {
  @extend .DuelProfile;
  justify-content: right;
  align-items: flex-end;
  text-align: right;
  bottom: 0;
  right: 0;
}

.DuelistHonourProgress {
  position: absolute;
  width: 10vw;
  height: 10vw;
  margin:0.2vw;
  overflow: hidden;
}

.DuelistHonour {
  position: absolute;
  width: 3vw;
  height: 3vw;
  margin:0.75vw;
  margin-bottom: 0.25vw;
  background-color: #efc258;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DuelistHonourProgress[data-floated="left"] {
}

.DuelistHonourProgress[data-floated="right"] {
  transform: scaleX(-1);
}

.ProfileName {
  width: 11.4vw; 
  height: 1.6vw;
  line-height: 1.6vw;
  align-content: end;
}

.ProfileAddress {
  width: 4.8vw; 
  height: 1.2vw; 
  line-height: 1.2vw;
}

// .ProfileAndHealth {
//   display: block;
//   height: 200px;
//   // justify-self: right;
// }
.ProfileDescription {
  margin: 0 1em 1em 1em!important;
}
.HealthBar {
  background-color: #0000!important;
  box-shadow: none!important;
  border: 0!important;
  margin: 0 1em!important;
  width: 100px;
  clear: both;
  // justify-self: right;
  // margin-left: auto;
}
.HealthPointFull {
  background-color: $color-positive!important;
}
.HealthPointEmpty {
  background-color: $color-negative!important;
}

.DuelProgress {
  margin-top: 20px;
}

.DuelResults {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

//
// <IconXXX>
//
.Tooltip {
	cursor: default; //help;
}
.Icon {
	width: initial !important; // remove width to be able to spin
	margin: 0 !important;
	text-shadow: 0.1em 0 $color-shadow;
	color: $color-text;
}
.EtherIcon {
  position:relative;
  top:0.25rem;
}
.PacesIcon {
  font-family: $font-family-mono!important;
  font-size: 1.2em!important;
  font-weight: 600!important;
  color: $color-brightest;
  text-shadow: 0.1em 0.1em 2px #000;
  margin: -2px 0 0 -2px!important;
}
.PacesIcon.small {
  font-size: 1.2em!important;
}
.PacesIcon.large {
  font-size: 1.5em!important;
}
.PacesIcon.big {
  font-size: 1.5em!important;
}

.PacesIconRound {
  font-family: $font-family-mono!important;
  font-size: 16px!important;
  // circle
  border-radius: 50%;
  background: rgba($color-bg, 0.8);
}

// Icon click feedback
.IconClick_hover {
  color: $color-brightest;
	animation-name: IconHoverAnimation;
	animation-duration: 0.1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: IconHoverAnimation;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}
.IconClick_active {
	animation-name: IconClickAnimation;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: IconClickAnimation;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}
.IconClick {
  @extend .Anchor;
  color: $color-bright;
	text-shadow: 0.1rem 0.1rem $color-shadow;
  z-index: 1000;
  &:hover {
    @extend .IconClick_hover;
  }
  &:active {
    @extend .IconClick_active;
  }
}
@keyframes IconClickAnimation {
	from { -webkit-transform: scale(0.9); }
	to { -webkit-transform: scale(1); }
}
@keyframes IconHoverAnimation {
	from { -webkit-transform: scale(1); }
	to { -webkit-transform: scale(1.1); }
}

// <CustomIcon>
$logo-url: '/logos/logo_avante.svg';
.CustomIcon {
	width: 100%;
	height: 100%;
  pointer-events: none;
	cursor: default;
	-webkit-mask-image: url($logo-url);
  -webkit-mask-size: contain; /* OR cover OR fixed values */
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
	mask-image: url($logo-url);
  mask-size: contain; /* OR cover OR fixed values */
  mask-position: center;
  mask-repeat: no-repeat;
	@include make-box-shadow(0.1em 0 $color-dark);
}
.CustomIconClick {
  background-color: $color-bright!important;
  &:hover {
    background-color: $color-brightest!important;
  }
  &:active {
    background-color: $color-brightest!important;
  }
}
.CustomIconPng {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
	height: 100%;
  position: absolute;
  top: 0.2em;
  left: 0;
}

.TransferIcon {
  transform: rotate(0deg);
  line-height: 1.01em;
}
.TransferIcon:hover {
  transform: rotate(180deg);
}
.TransferIconAnim {
  transition: transform .25s ease;
}


.WagerBig {
  @extend .TitleCase, .H3, .Bold;//, .Number;
}
.Wager {
  @extend .TitleCase, .H4;//, .Number;
}
.WagerSmall {
  @extend .TitleCase, .H5, .Bold;//, .Number;
}

.ChancesBar {
  width: 450px;
  margin: auto!important;
}

.LethalBar {
  background-color: $color-warning;
  width: 0;
  height: 21px;
  position: absolute;
  top: 0;
  left:0;
  // from .ui.progress .bar
  border-radius: 0.28571429rem;
  transition: width .1s ease, background-color .1s ease;
  margin-left: 0.2em; // .ui.progress .bar > .progress
}

.SlotNumber {
  font-size: 1.1em;
  padding: 0.5em;
  color: $color-brightest;
}

.TornaContents {
  height: 310px;
}
.TornaImage {
  @extend .Anchor;
  height: 300px;
  width: auto;
  border: 5px solid #0000;
}
.TornaImageSelected {
  @extend .TornaImage;
  border: 5px solid $color-medium!important;
}

.CenteredPanel {
  background-color: rgba($color-darkest, 0.7);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
.TempRevealPanel {
  @extend .YesMouse;
  background-color: rgba($color-darkest, 0.7);
  width: 300px;
  height: 120px;
  position: absolute;
  bottom: -120px;
  left: 0;
}

.TempBarkeepOverlay {
  @extend .FillParent;
  @extend .AboveAll;
}
.TempBarkeepTalkBalloon {
  width: 300px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 30%;
}
.TempBarkeepTalkBalloonText {
  @extend .FillParent;
  color: $color-darkest;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.3em;
  font-size: 2em;
  text-shadow: $text-shadow;
}


//-----------------------------
// semantic-ui
//
._round_border {
  border: $border-button;
  // border-radius: 0.5em;
}
._round_border_active {
  border: $border-button-active!important;
  // border-radius: 0.5em!important;
}
._round_border_inactive {
  border: $border-button-inactive!important;
  // border-radius: 0.5em!important;
}
// 
// <Input>
// input, select, textarea, button{font-family:inherit!important;}
input{font-family:inherit!important;} // <input> by default does not inherit!!!
input::placeholder {
  @extend .TitleCase;
  font-family: $font-family;
  color: $color-inactive!important;
  font-style: normal;
}
.ui.input>input,
.ui.form input:not([type]),
.ui.selection.dropdown {
  @extend ._button_shape, ._round_border;
  background-color: $color-dark!important;
  // color: rgba($color-text, 0.75)!important;
  color: $color-text!important;
}
.ui.selection.dropdown {
  color: $color-brightest!important;
}
.ui.form input[type=text],
.ui.form input[type=text]:focus {
  font-family: $font-family;
  color: $color-brightest;
  padding: 0.5em 1em;
}
.ui.input>input:active,
.ui.input>input:focus,
.ui.form input:not([type]):focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-brightest!important;
}
.ui.mini.input {
  @extend .FilterButton;
  // height: 
}
.ui.label {
  @extend ._round_border;
  font-family: $font-family;
  background-color: $color-bright;
  color: $color-dark;
  text-shadow: none;
}
.ui.dropdown .menu,
.ui.selection.visible.dropdown>.text:not(.default),
.ui.active.search.dropdown input.search:focus+.text,
.ui.dropdown .menu .selected.item  {
  @extend ._round_border;
  background-color: $color-darkest!important;
  color: $color-brightest!important;
  font-weight: 600;
}
.ui.dropdown .menu>.item:hover {
  background-color: $color-dark!important;
}
.ui.selection.dropdown .menu>.item {
  background-color: $color-dark!important;
  color: $color-text!important;
  border-top: $border-hr;
}
.ui.floating.dropdown>.menu {
  @extend ._round_border;
  margin-top: 0!important;
}
.ui.dropdown .menu>.item {
  color: $color-brightest!important;
  font-size: 1em;
}
.ui.active.button, .ui.active.button:hover {
  @extend ._button_active;
}
// forms
.ui.form .field>label {
  font-family: $font-family;
  color: $color-bright;
}
//
// <Grid>
.ui.grid {
  margin: auto;
}
.ui.grid>.row {
  padding: 0.2rem 0; // original: 1.0rem 0
}
.ui.grid>.row>.column {
  padding: 0 0.2rem; // original: 1.0rem 0
}
//
// <Button>
._button_shape {
  font-size: 1.2rem; // semantic: 1rem;
  padding: 0.5em 1em;// semantic: 0.78571429em 1.5em 0.78571429em;
  margin: 0.15em 0;
  line-height: 1em;
  min-height: 30px;
  margin: 0.15em 0;
}
._button {
  @extend ._button_shape, ._round_border, .TitleCase;
  font-family: $font-family;
  background-color: rgba($color-dark, 0.6);
  color: $color-text;
}
._button_hover {
  background-color: $color-bright;
  color: $color-dark;
  text-shadow: $text-shadow;
}
._button_focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-text;
  text-shadow: $text-shadow;
}
._button_active {
  background-color: $color-brightest;
  color: $color-dark;
  text-shadow: $text-shadow;
}
._button_disabled {
  @extend ._round_border_inactive;
  color: $color-inactive;
  opacity: 1!important;  
}
.ui.button { @extend ._button; }
.ui.button:hover { @extend ._button_hover; }
.ui.button:focus { @extend ._button_focus; }
.ui.button:active { @extend ._button_active; }
.ui.button:disabled { @extend ._button_disabled; }
.ui.button.toggle.active,
.ui.buttons .button.toggle.active,
.ui.toggle.buttons .active.button {
  background-color: $color-medium-bg!important;
}
.ui.button.toggle.active:hover {
  background-color: $color-important!important; // default is green
}
//
// <Menu> buttons
.ui.menu {
  background-color: transparent;
}
.ui.menu .item,
.ui.secondary.menu .item {
  @extend ._button;
  margin: 0 0.15em;
}
.ui.primary.button,
.ui.secondary.menu .active.item,
.ui.secondary.menu .active.item:hover {
  @extend ._button_active;
}
.ui.primary.button:hover,
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  @extend ._button_hover;
}
.ui.primary.button:active,
.ui.secondary.menu .dropdown.item:active,
.ui.secondary.menu .link.item:active,
.ui.secondary.menu a.item:active {
  @extend ._button_active;
}
//
// floating label
.ui.menu .item>.floating.label {
  // background-color: $color-important!important;
  // color: $color-brightest!important;
  background-color: transparent!important;
  color: $color-brightest!important;
  text-shadow: $text-shadow!important;
  font-family: $font-family-mono;
  font-weight: 600;
  padding: 0.3em 0.5em 0.1em 0.5em;
  border: 0.5px solid $color-important!important;
}
.ui.floating.label {
  // top: -1em; // semantic
  // left: 100%; // semantic
  // margin: 0 0 0 -1.5em!important; // semantic
  top: -0.35em;
  left: unset;
  right: 0em;
  margin: 0 0 0 -1.5em!important;
}
//
// <Tab> <TabPane>
.ui.attached.menu:not(.tabular) {
  border: 0;
  padding-left: 5px;
}
.ui.secondary.pointing.menu .item {
  padding: 0.5em 1.0em 0.5em 0.5em; // semantic: 0.85714286em 1.14285714em;
  background-color: transparent;
  color: $color-bright;
  text-shadow: $title-shadow;
  border: 0!important;
  border-radius: 0!important;
}
#Gate .ui.secondary.pointing.menu .item {
  padding: 0.5em 1.9em 0.5em 1.9em;
  font-size: 24px;
}
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu a.item:hover,
.ui.secondary.pointing.menu a.item:active {
  border-bottom: 2px solid $color-brightest!important;;
  color: $color-brightest;
}
// Tab contents
.ui.tab.active {
  background-color: transparent;
  border: 0;
  border-top: 0.5px solid $color-brightest!important;
  margin: 1px 0 0 0;
  padding: 1em 0;
}
//
// <Table>
$table-bg-color: rgba($color-darkest, 0.6);
.ui.table {
  background-color: $table-bg-color;
  color: $color-text;
  // font-size: 0.8em;
  border: 0;
}
.ui.table.selectable {
  cursor: pointer;
}
.ui.table thead th {
  @extend .TitleCase;
  background-color: rgba($color-darkest, 1);
  color: $color-brightest!important;
  font-size: 0.9em!important;
  padding: 0.8em 0.2em;
}
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th:hover {
  background-color: rgba($color-medium-bg, 1);
}
.ui.attached.table {
  border: 0.5px solid $color-shadow;
}
td {
  // border: 1px 0 0 0 solid $color-brightest!important;
  // border: 0!important;
  border: $border-hr;
  border-style: none none solid none;
}
.ui.table td.positive, .ui.table tr.positive {
  @extend .Positive;
}
.ui.table td.negative, .ui.table tr.negative {
  @extend .Negative;
}
.ui.table td.warning, .ui.table tr.warning {
  @extend .Warning;
}
.ui.table td {
  @extend .TableCell;
  padding: 0.2em 0.4em;
}
.ui.selectable.table tbody tr:hover {
  color: $color-text!important;
}
// row hover
.ui.selectable.table tbody tr:hover {
  background: $color-dark!important;
}
// sort arrow below text
.ui.sortable.table thead th.sorted:after {
  display: block;
}
//
// <Pagination>
.ui.pagination.menu .item,
.ui.pagination.menu .active.item {
  font-size: 1.5em;
  min-width: 2em;
  padding: 0 0 0.2em 0.6em;
}
.ui.pagination.menu .active.item {
  background-color: $color-important;
  color: $color-white;
}
.ui.menu a.item:hover {
  background-color: $color-bright;
}

//
// <Modal>
.ui.modal {
  @extend ._round_border_inactive;
}
.ui.modal>.header {
  @extend .Title;
  font-family: $font-family;
  font-size: 2rem!important;
  color: $color-text;
  border-bottom: $border-hr;
  padding: 0.2em;
}
.ui.modal>.header:not(.ui) {
  padding: 0.25em 0.5em;
  height: 2em;
}
.ui.modal>.actions {
  border-top: $border-hr;
}
.ui.modal,
.ui.modal>.header,
.ui.modal>.content,
.ui.modal>.actions {
  background-color: $color-darkest;
}
.ui.header {
  @extend .TitleCase;
  font-family: $font-family;
  color: $color-text;
}
//
// <Step>
.ui.steps:not(.NoBorder) {
  @extend ._round_border;
}
.ui.steps .step,
.ui.steps .disabled.step {
  background-color: $table-bg-color;
  color: $color-text;
}
.ui.steps .disabled.step .icon,
.ui.steps .disabled.step .title {
  color: $color-inactive;
}
.ui.vertical.steps .step {
  border-bottom: $border-hr;
  padding: 1em 2em;
}
.ui.steps .step.active {
  background-color: $color-important;
  // background-color: $table-bg-color;
  color: $color-text;
}
.ui.steps .active.step .icon,
.ui.steps .step.active .title {
  color: $color-brightest;
}
a.active.step:hover,
.ui.steps .link.active.step:hover {
  background-color: $color-dark;
  // background-color: $table-bg-color;
  // color: $color-brightest!important;
  text-decoration: none;
}
.ui.vertical.steps .active.step:after,
.ui.vertical.steps .active.step:last-child:after {
  display: none;
}
//
// <Segment>
.ui.segment {
  @extend ._round_border;
  background-color: $color-dark;
  border: 0.5px solid rgba($color-bright, 0.8)!important;
}
//
// <ProgressBar>
.ui.progress .bar {
  background-color: $color-important;
  min-width: 3em;
}
// .ui.disaled.progress .bar {
//   background-color: $color-inactive;
// }
.ui.progress .bar>.progress {
  @extend .TitleCase;
  font-family: $font-family;
  font-weight: 600;
  font-size: 1.5em;
  color: $color-brightest;
  text-shadow: $text-shadow;
  margin-top: -0.65em;
  margin-right: -0.2em;
  z-index: 100;
}
// <Divider>
.ui.divider:not(.vertical):not(.horizontal) {
  // border-top: 1px solid rgba(34, 36, 38, .15);// original
  // border-bottom: 1px solid rgba(255, 255, 255, .1); // original
  border-top: 1px solid rgba($color-brightest, .15);
  border-bottom: 1px solid rgba($color-brightest, .25);
}
// <Popup>
.ui.popup,
.ui.label {
  background-color: $color-darkest;
  color: $color-brightest;
  font-size: 1.5em;
}

//
// Dialog above duelists
//
.dialog-container {
  width: 18vw;
  height: 12vw;
  text-align: Left;
  position: absolute;
  top: calc(50% - 6vw);
  left: calc(50% - 10vw);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.3s linear, opacity 0.3s linear;
}

.dialog-background {
  position: absolute;
  width: 18vw;
  height: 12vw;
}

.dialog-data {
  position: absolute;
  margin: 1.3vw;
  margin-top: 1.6vw;
  width: 15.4vw;
  height: 6vw;
  padding: 2%;
}

.dialog-title {
  font-weight: lighter;
  font-size: 0.7vw;
  margin-bottom: 2%;
  color: black;
}

.dialog-duelist, .dialog-quote {
  font-weight: normal;
  color: black;
}

.dialog-duelist[data-contentlength="0"], .dialog-quote[data-contentlength="0"], .ProfileName[data-contentlength="0"], .Code[data-contentlength="0"] {
  font-size: 1.2vw;
}
.dialog-duelist[data-contentlength="1"], .dialog-quote[data-contentlength="1"], .ProfileName[data-contentlength="1"], .Code[data-contentlength="1"] {
  font-size: 1.1vw;
}
.dialog-duelist[data-contentlength="2"], .dialog-quote[data-contentlength="2"], .ProfileName[data-contentlength="2"], .Code[data-contentlength="2"] {
  font-size: 1vw;
}
.dialog-duelist[data-contentlength="3"], .dialog-quote[data-contentlength="3"], .ProfileName[data-contentlength="3"], .Code[data-contentlength="3"] {
  font-size: 0.8vw;
}

.Code[data-contentlength="0"] {
  font-size: 1.0vw;
}
.Code[data-contentlength="1"] {
  font-size: 0.9vw;
}
.Code[data-contentlength="2"] {
  font-size: 0.8vw;
}
.Code[data-contentlength="3"] {
  font-size: 0.7vw;
}

.dialog-button[data-contentlength="0"] {
  font-size: 1.1vw;
}
.dialog-button[data-contentlength="1"] {
  font-size: 0.9vw;
}
.dialog-button[data-contentlength="2"] {
  font-size: 0.7vw;
}
.dialog-button[data-contentlength="3"] {
  font-size: 0.5vw;
}

.dialog-content {
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.dialog-button {
  width: 100%;
  height: 2vw;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: $color-darkest;
  color: white;
  cursor: pointer;
  text-align: center;
  pointer-events: all;
}

.dialog-button:hover {
  background-color: #0056b3;
}

.dialog-spinner {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 1vw;
  height: 2vw;
  margin-right: 10px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.dialog-spinner::before,
.dialog-spinner::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.dialog-spinner::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}

.ContentSmall {
  font-size: 2vw;
}

.button_duel {
  border: 0px solid !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw !important;
  min-height: 0 !important;
}

.button_duel[type="tavern"] {
  width: 8.9vw;
}

.button_duel[type="database"], .button_duel[type="volume"] {
  width: 2.7vw;
}