
$font-family: 'EB Garamond', serif;
$font-family-mono: 'Courier Prime', monospace;

// Figma colors
// https://www.figma.com/file/eseZA1jRIoX6IYNtoHgz30/Pistols-at-Ten-Blocks
$color-bg: #000; //#1e1e1e;
$color-darkest: #201a18;
$color-dark: #584f49;
$color-medium: #cb824d;
$color-bright: #c8b6a8;
$color-brightest: #efe1d7;

$color-white: $color-brightest;
$color-shadow: $color-dark;
$color-text: $color-bright;
$color-text-disabled: rgba($color-brightest, 0.3);
$color-icon: $color-bright;
$color-important: $color-medium;
$color-active: $color-medium;
$color-inactive: #712727;
$color-attention: #22b600;
$text-shadow: 0.04em 0.04em 2px $color-dark;
$title-shadow: 0.1em 0.1em 1px $color-darkest;
$ui-border: 6px ridge $color-active;

$border-hr: solid 0.5px rgba($color-bright, 0.5);
$border-button: 1px solid $color-bright;
$border-button-active: 1px solid $color-brightest;
$border-button-inactive: 1px solid rgba($color-bright, 0.5);

$color-positive: #4dcb51; // from $color-medium
$color-negative: #cb4d4d; // from $color-medium
$color-warning: $color-medium;
$color-blue: #4dcbc9; // from $color-medium

$game-width: 960px;
$game-height: 540px;
$ui-height: 180px;
$ui-compass-width: 360px;
$ui-column: 60px;
$ui-row: 40px;

html {
	overflow: scroll;
	// scroll-behavior: smooth;
}

html, body {
  font-family: $font-family;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  box-sizing: border-box;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $color-bg;
  color: $color-text;
  text-shadow: $text-shadow;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: border-color 0.25s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $color-important;
  text-decoration: inherit;
  font-weight: 600;
}

a:hover {
  color: $color-important;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  text-shadow: $text-shadow;
  line-height: 1.2em;
  margin: 0.2em 0;
  color: $color-brightest;
}

hr {
  border: $border-hr;
}

button {
  background-color: $color-active;
  color: $color-bg;
  text-shadow: $text-shadow;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.5em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas {
  display: block;
}


//------------------------
// GENERIC
//

.AlignLeft { text-align: left!important; justify-content: left!important; }
.AlignCenter { text-align: center!important; justify-content: center!important; }
.AlignRight { text-align: right!important; justify-content: right!important; }
.AlignTop { vertical-align: top; }
.AlignMiddle { vertical-align: middle; }
.AlignBottom { vertical-align: bottom; }

.NoPadding { padding: 0!important; }
.NoMargin { margin: 0!important }
.NoBorder { border: 0!important }
.AutoMargin { margin: auto!important }

.Padded { padding: 0.5em!important; }
.PaddedLeft { padding-left: 0.5em!important; }
.PaddedRight { padding-right: 0.5em!important; }
.PaddedTop { padding-top: 0.5em!important; }
.PaddedBottom { padding-bottom: 0.5em!important; }

.Margin6 { margin: 6px!important }

.Block { display: inline-block; }
.Flex { display: flex; }

.NoMouse { pointer-events: none; }
.YesMouse { pointer-events: auto; }

.Important {
  color: $color-important;
}
.Black {
  color: #444;
}
.Bold {
  color: $color-brightest;
  font-weight: 600;
}

.Positive {
  background-color: inherit!important;
  color: $color-positive!important;
  // color: inherit!important;
}
.Negative {
  background-color: inherit!important;
  color: $color-negative!important;
}
.Warning {
  background-color: inherit!important;
  color: $color-warning!important;
}
.Canceled {
  background-color: inherit!important;
  color: $color-dark!important;
}

.Code {
  font-family: $font-family-mono;
  font-size: 12px;
}

.Quote {
  font-style: italic;
}

.Smaller {
  font-size: 10px;
}

.Faded {
  background-color: #0002;
}

.AboveAll {
  z-index: 1000;
}

.Anchor {
  cursor: pointer;
  pointer-events: all!important;
}

.Spacer5 {
  width: '100%';
  min-height: 5px;
}
.Spacer10 {
  width: '100%';
  min-height: 10px;
}
.Spacer20 {
  width: '100%';
  min-height: 20px;
}
.Spacer50 {
  width: '100%';
  min-height: 50px;
}

.Hidden {
  display: none!important;
}

.Relative {
  position: relative;
}
.AbsoluteLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.AbsoluteRight {
  position: absolute;
  top: 0;
  right: 0;
}

.Grayscale {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.FillWidth {
  width: 100%!important;
  min-width: 100%;
  align-items: center;
}
.FillHeight {
  height: 100%!important;
  min-height: 100%;
  vertical-align: middle;
}
.FillParent {
  @extend .FillWidth, .FillHeight;
}

.CenteredContainer {
	height: 100%;
  min-height: 100%;
	width: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	// text-align: center;
}



//------------------------
// ASPECT RATIO
//
// $reference-w: 1200;
// $reference-h: 675;
$aspect: 1.7777;
$aspect-w: min(100vw,100vh*$aspect);
$aspect-h: min(100vw/$aspect,100vh);
$box-w: calc((100vw - $aspect-w) / 2);
$box-h: calc((100vh - $aspect-h) / 2);
.AspectContent {
	// background-color: #f004;
	position: absolute;
	top: $box-h !important;		// center frame to offset box
	left: $box-w !important;	// center frame to offset box
	width: $aspect-w;
	height: $aspect-h;
  background-size: cover;
}
.AspectLeft, .AspectRight, .AspectTop, .AspectBottom {
	// background-color: #f0f8;
	position: absolute;
	z-index: 100;
}
.AspectLeft, .AspectRight {
	width: $box-w;
	min-width: 0px;
	min-height: 100vh;
	top: 0;
}
.AspectLeft {
	left: 0;
}
.AspectRight {
	right: 0;
}
.AspectTop, .AspectBottom {
	height: $box-h;
	min-height: 0px;
	min-width: 100vw;
	left: 0;
}
.AspectTop {
	top: 0;
}
.AspectBottom {
	bottom: 0;
}

.DebuggerButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

//
// Backgrounds
//
.LightenBackground {
  background-color: #fffb;
  background-blend-mode:lighten;
}
.Background {
    background-color: #1c130c;
}
.BackgroundSplash {
  @extend .Background;
  background-image: url('/images/bg_duel.jpg');
}
.BackgroundGate {
  @extend .Background;
  background-image: url('/images/bg_gate.jpg');
}
.BackgroundDuelists {
  @extend .Background;
  background-image: url('/images/bg_duelists.jpg');
}
.BackgroundDuelsYour {
  @extend .Background;
  background-image: url('/images/bg_duels_yours.jpg');
}
.BackgroundDuelsLive {
  @extend .Background;
  background-image: url('/images/bg_duels_live.jpg');
}
.BackgroundDuelsPast {
  @extend .Background;
  background-image: url('/images/bg_duels_past.jpg');
}
.BackgroundDuel {
  @extend .Background;
  background-image: url('/images/bg_duel.jpg');
}


//------------------------
// GAME
//

.App {
	// font-family: $ec-font-titles;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  position: relative;
}

.Logo {
  width: 256px;
  height: 256px;
}

.AppBackgroundFit {
  background-size: contain!important;
  background-repeat: no-repeat;
  background-position-y: center;
}

.TableMain {
  position: relative;
  margin-top: 100px;
  max-height: 500px;
  width: 800px;
  scrollbar-width: thin;
  overflow-y: scroll;
  // border: 0.5px solid #0001;
}
.TableModal {
  @extend .TableMain;
  max-height: 290px;
  margin: 0;
}
.TableValue {
  // color: $color-brightest;
  font-size: 16px;
  font-weight: 600;
}

// .TableHeader {
//   height: 30px!important;
//   max-height: 30px!important;
// }
// .TableBody {
//   margin-top: 100px;
// }

.DirectionButton {
  /* margin: 0.25em; */
  font-size: 24px;
  text-align: center;
  border: 0;
  padding: 0;
}

.SmallButton {
  margin: 0 0.1em;
  padding: 0.1em 0.4em;
}

.LargeButton {
  margin: 0 0.1em;
  padding: 1em 2em;
}

.Locked {
  background-color: $color-inactive;
}
.Unlocked {
  background-color: $color-active;
}
.Attention {
  background-color: $color-attention;
}

// GAME CANVAS

.GameContainer {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  position: relative;
}

.GameView {
  @extend .GameContainer;
  position: absolute;
  top: 0;
  left: 0;
  // outline: 0.5px solid #444;
}

.GameCanvas {
  // width: $game-width;
  // height: $game-height;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #0000;
}

.Overlay {
  // background: linear-gradient(#0004, #000d);
  background: #fffd;
}


//
// Pistols
//
$profile-pic-width: 70px;
$ui-container-gap: 1em;

.UIContainer {
  // background-color: #f008;
  background-color: #0004; // For browsers that do not support gradients
  background-image: linear-gradient(to right, #000, transparent);
  min-width: 500px;
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: $ui-container-gap;
}
.UIContainerTavern {
  @extend .UIContainer;
  width: 620px;
}
.UIContainerScroller {
  width: 100%;
  height: calc($aspect-h - $profile-pic-width - 1em * 6);
  scrollbar-width: thin;
  overflow-y: scroll;
  // border: 0.5px solid #0001;
}

.TitleCase {
  // text-transform: uppercase;
  font-variant-caps: small-caps;
}

.Title {
  @extend .TitleCase;
  text-shadow: $title-shadow;
  font-size: 2em!important;
}

.ProfilePic {
  width: calc(439px / 2);
  height: calc(768px / 2);
  border-radius: 10px;
  border: $border-button;
}
.ProfilePicDuel {
  @extend .ProfilePic;
  width: calc(439px / 3);
  height: calc(768px / 3);
  border: $border-button;
}
.ProfilePicSquare {
  width: $profile-pic-width;
  height: $profile-pic-width;
  pointer-events: none;
  margin: auto;
}
.ProfilePicSmall {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  pointer-events: none;
}
.ProfilePicHeight {
  height: $profile-pic-width;
  min-height: $profile-pic-width!important;
}

.ProfileStats {
  top: 0.3em;
  font-size: 1.3em;
  line-height: 1.1em;
}

.MenuTop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
.MenuBottom {
  @extend .MenuTop;
  top: unset;
  bottom: 0;
}

.TavernTitle {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.DuelSideA {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  text-align: left;
  align-items: left;
}
.DuelSideB {
  @extend .DuelSideA;
  left: unset;
  right: 0;
  text-align: right;
  align-items: right;
}

.DuelProfileA {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
  width: 100%;
}
.DuelProfileB {
  @extend .DuelProfileA;
  text-align: right;
  justify-content: right;
}

.DuelProgress {
  margin-top: 20px;
}

.DuelResults {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

// <IconXXX>

.Tooltip {
	cursor: default; //help;
}
.Icon {
	width: initial !important; // remove width to be able to spin
	margin: 0 !important;
	text-shadow: 0.1em 0 $color-shadow;
	color: $color-icon;
}
.InfoIcon {
	@extend .Icon;
	// color: $color-icon;
}
.StepsIcon {
  font-family: $font-family-mono!important;
  font-size: 12px!important;
  font-weight: 600!important;
  color: $color-brightest;
  text-shadow: 0.1em 0.1em 2px #000;
  margin: -2px 0 0 -2px!important;
}
.StepsIcon.small {
  font-size: 12px!important;
}
.StepsIcon.large {
  font-size: 16px!important;
}
.StepsIcon.big {
  font-size: 20px!important;
}

.StepsIconRound {
  font-family: $font-family-mono!important;
  font-size: 16px!important;
  // circle
  border-radius: 50%;
  background: rgba($color-bg, 0.8);
}


// Icon click feedback
.IconClick:active {
	animation-name: IconClickAnimation;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-name: IconClickAnimation;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
}
@keyframes IconClickAnimation {
	from { -webkit-transform: scale(0.7); }
	to { -webkit-transform: scale(1); }
}



//--------------------
// Unity canvas
//
// #react-unity-webgl-canvas-3 {
// canvas[id^='react-unity-webgl-canvas'] {
.UnityCanvas {
  width: 900px;
  height: 450px;
}


//-----------------------------
// semantic-ui
//
._round_border {
  border: $border-button!important;
  border-radius: 0.5em!important;
}
._round_border_active {
  border: $border-button-active!important;
  border-radius: 0.5em!important;
}
._round_border_inactive {
  border: $border-button-inactive!important;
  border-radius: 0.5em!important;
}
// 
// <Input>
input::placeholder {
  color: $color-text-disabled!important;
}
.ui.input>input,
.ui.form input:not([type]),
.ui.selection.dropdown {
  @extend ._round_border;
  background-color: $color-dark!important;
  // color: rgba($color-text, 0.75)!important;
  color: $color-text!important;
  font-style: italic!important;
}
.ui.input>input:active,
.ui.input>input:focus,
.ui.form input:not([type]):focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-brightest!important;
}
.ui.label {
  @extend ._round_border;
  font-family: $font-family;
  background-color: $color-bright;
  color: $color-dark;
  text-shadow: none;
}
.ui.dropdown .menu,
.ui.selection.visible.dropdown>.text:not(.default),
.ui.active.search.dropdown input.search:focus+.text,
.ui.dropdown .menu .selected.item  {
  background-color: $color-dark!important;
  color: $color-brightest!important;
  font-weight: 600;
}
.ui.selection.dropdown .menu>.item {
  background-color: $color-dark!important;
  color: $color-text!important;
  border-top: $border-hr;
}
// forms
.FormLabel {
  color: $color-text;
  font-size: 1.25em;
  line-height: 1.2em;
}
.ui.form .field>label {
  font-family: $font-family;
  color: $color-bright;
}
//
// <Grid>
.ui.grid {
  margin: auto;
}
.ui.grid>.row {
  padding: 0.25rem 0; // original: 1.0rem 0
}
.ui.grid>.row>.column {
  padding: 0 0.25rem; // original: 1.0rem 0
}
//
// <Button>
._button {
  @extend ._round_border, .TitleCase;
  font-family: $font-family;
  background-color: rgba($color-dark, 0.6);
  color: $color-text;
  font-size: 1.2rem; // semantic: 1rem;
  padding: 0.5em 1em;// semantic: 0.78571429em 1.5em 0.78571429em;
  margin: 0.15em 0;
}
._button_hover {
  background-color: $color-bright;
  color: $color-dark;
}
._button_focus {
  @extend ._round_border_active;
  background-color: $color-dark;
  color: $color-text;
}
._button_active {
  background-color: $color-brightest;
  color: $color-dark;
}
._button_disabled {
  @extend ._round_border_inactive;
  color: $color-text-disabled;
  opacity: 1!important;  
}
.ui.button { @extend ._button; }
.ui.button:hover { @extend ._button_hover; }
.ui.button:focus { @extend ._button_focus; }
.ui.button:active { @extend ._button_active; }
.ui.button:disabled { @extend ._button_disabled; }
.ui.button.toggle.active,
.ui.buttons .button.toggle.active,
.ui.toggle.buttons .active.button {
  background-color: $color-important!important;
}
//
// <Menu> buttons
.ui.menu .item,
.ui.secondary.menu .item {
  @extend ._button;
  margin: 0 0.15em;
}
.ui.secondary.menu .active.item,
.ui.secondary.menu .active.item:hover {
  @extend ._button_active;
}
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  @extend ._button_hover;
}
.ui.secondary.menu .dropdown.item:active,
.ui.secondary.menu .link.item:active,
.ui.secondary.menu a.item:active {
  @extend ._button_active;
}
//
// floating label
.ui.menu .item>.floating.label {
  // background-color: $color-important!important;
  // color: $color-brightest!important;
  background-color: transparent!important;
  color: $color-brightest!important;
  text-shadow: $text-shadow!important;
  font-family: $font-family-mono;
  font-weight: 600;
  padding: 0.3em 0.5em 0.1em 0.5em;
  border: 0.5px solid $color-important!important;
}
.ui.floating.label {
  // top: -1em; // semantic
  // left: 100%; // semantic
  // margin: 0 0 0 -1.5em!important; // semantic
  top: 0.5em;
  left: unset;
  right: 1em;
  margin: 0 0 0 -1.5em!important;
}
//
// <Tab> <TabPane>
.ui.attached.menu:not(.tabular) {
  border: 0;
}
.ui.secondary.pointing.menu .item {
  padding: 0.5em 3em 0.5em 1em; // semantic: 0.85714286em 1.14285714em;
  background-color: transparent;
  color: $color-bright;
  text-shadow: $title-shadow;
  border: 0!important;
  border-radius: 0!important;
}
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover,
.ui.secondary.pointing.menu a.item:hover,
.ui.secondary.pointing.menu a.item:active {
  border-bottom: 2px solid $color-brightest!important;;
  color: $color-brightest;
}
// Tab contents
.ui.tab.active {
  background-color: transparent;
  border: 0;
  border-top: 0.5px solid $color-brightest!important;
  margin: 1px 0 0 0;
  padding: 1em 0;
}
//
// <Table>
.ui.table {
  background-color: rgba($color-darkest, 0.6);
  color: $color-text;
  border: 0;
}
.ui.table.selectable {
  cursor: pointer;
}
.ui.table thead th {
  @extend .TitleCase;
  background-color: rgba($color-darkest, 1);
  color: $color-brightest!important;
}
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th:hover {
  background-color: rgba($color-medium, 1);
}
td {
  // border: 1px 0 0 0 solid $color-brightest!important;
  // border: 0!important;
  border: $border-hr;
  border-style: none none solid none;
}
.ui.table td.positive, .ui.table tr.positive {
  @extend .Positive;
}
.ui.table td.negative, .ui.table tr.negative {
  @extend .Negative;
}
.ui.table td.warning, .ui.table tr.warning {
  @extend .Warning;
}
.ui.selectable.table tbody tr:hover {
  color: $color-text!important;
}
// row hover
.ui.selectable.table tbody tr:hover {
  background: $color-dark!important;
}
//
// Pagination
.ui.pagination.menu .active.item {
  background-color: $color-important;
  color: $color-white;
  // font-weight: 800;
}
//
// <Modal>
.ui.modal {
  @extend ._round_border_inactive;
}
.ui.modal>.header {
  @extend .Title;
  font-family: $font-family;
  color: $color-text;
  border-bottom: $border-hr;
}
.ui.modal>.actions {
  border-top: $border-hr;
}
.ui.modal,
.ui.modal>.header,
.ui.modal>.content,
.ui.modal>.actions {
  background-color: $color-darkest;
}
.ui.header {
  color: $color-text;
}
//
// <Step>
.ui.steps .step.active .title {
  color: $color-important;
}
.ui.vertical.steps .active.step:after,
.ui.vertical.steps .active.step:last-child:after {
  display: none;
}
// .ui.steps .step.active {
//   background-color: $color-positive;
// }

