[tool.dojo.world]
name = "Pistols at 10 Blocks"
description = "An on-chain pistol duelling game of honour and betrayal."
icon_uri = "https://pistols.underware.gg/images/logo.png"
cover_uri = "https://pistols.underware.gg/images/splash.png"
website = "https://pistols.underware.gg"

[tool.dojo.world.socials]
x = "https://x.com/underware_gg"
github = "https://github.com/underware-gg/pistols"
# discord = "https://discord.gg/FB2wR6uF"
# telegram = "https://t.me/dojoengine"

[package]
name = "pistols"
version = "0.8.7"
cairo-version = "2.6.3"

[cairo]
sierra-replace-ids = true

[dependencies]
# dojo = { git = "https://github.com/dojoengine/dojo", rev = "0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f" }
# dojo = { git = "https://github.com/dojoengine/dojo", branch = "branch_name" }
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v0.7.2" }
token = { git = "https://github.com/dojoengine/origami", tag = "v0.7.2" }


[tool.dojo]
initializer_class_hash = "0xbeef"

[[target.dojo]]
build-external-contracts = [
  "token::components::security::initializable::initializable_model",
  "token::components::token::erc20::erc20_metadata::erc_20_metadata_model",
  "token::components::token::erc20::erc20_balance::erc_20_balance_model",
  "token::components::token::erc20::erc20_allowance::erc_20_allowance_model",
  "token::components::token::erc20::erc20_mintable::erc_20_mintable_model",
  "token::components::token::erc20::erc20_burnable::erc_20_burnable_model",
]

[tool.dojo.env]
lords_address = ""

# -----------------------
# dev (default)
# 
[profile.dev.tool.dojo.env]
rpc_url = "http://localhost:5050"
world_address = "0x0545c8aff15426c3d43b3ba8fd45c61870b30ca4ec0bfbd69193facee4c7b97c"
account_address = "0xb3ff441a68610b30fd5e2abbf3a1548eb6ba6f3559f2862bf2dc757e5828ca"
private_key = "0x2bbf4f9fd0bbb2e60b0316c1fe0b76cf7a4d0198bd493ced9b8df2a3a24d68a"

# -----------------------
# slot (pistols)
# 
[profile.slot.tool.dojo.env]
rpc_url = "https://api.cartridge.gg/x/pistols/katana"
world_address = "0x0545c8aff15426c3d43b3ba8fd45c61870b30ca4ec0bfbd69193facee4c7b97c"
account_address = "0x199df3260858b341a7985245c94361a320569635d0c405b1827ffa4d7ded985"
private_key = "0x680cf081e48a2c0651fe1a66b9f4b52203951a746e5d6c14aa65ed8e4245b88"

# -----------------------
# slot2 (pistils-slot)
# 
[profile.staging.tool.dojo.env]
rpc_url = "https://api.cartridge.gg/x/pistols-staging/katana"
world_address = "0x0545c8aff15426c3d43b3ba8fd45c61870b30ca4ec0bfbd69193facee4c7b97c"
account_address = "0x7947c7d3e02e85da3ba8c93024b006ab7f10dc6b8fb3cb151569c996869edba"
private_key = "0x329a6dea7e53dcd104ab13494a29c6ddb1e472afebddcbd3ae11f8fe76a9e53"

# -----------------------
# SN_SEPOLIA
# 
[profile.sepolia.tool.dojo]
skip_migration = ["pistols::mocks::lords_mock::lords_mock"]

[profile.sepolia.tool.dojo.env]
# rpc_url = "https://api.cartridge.gg/rpc/starknet-sepolia" # env: STARKNET_RPC_URL
# rpc_url = "https://api.cartridge.gg/rpc/starknet-sepolia/v0_6" # env: STARKNET_RPC_URL
world_address = "0x0545c8aff15426c3d43b3ba8fd45c61870b30ca4ec0bfbd69193facee4c7b97c"
# account_address = "" # env: DOJO_ACCOUNT_ADDRESS
# private_key = ""     # env: DOJO_PRIVATE_KEY
lords_address = "0x044e6bcc627e6201ce09f781d1aae44ea4c21c2fdef299e34fce55bef2d02210"
