[package] 
name = "pistols"
version.workspace = true
edition.workspace = true
cairo-version = ">=2.13.1"
license = "CC0-1.0"

[cairo]
sierra-replace-ids = true
panic-backtrace = true

[scripts]
# usage: snforge test test_name
test = "snforge test"

[dependencies]
starknet = ">=2.13.1"
dojo = "1.8.0"
achievement = { git = "https://github.com/cartridge-gg/arcade", rev = "a4de9f4c38814a19716b6c5f9cbd4213645e9cb1" }
graffiti = { git = "https://github.com/rsodre/graffiti", rev = "url" }
nft_combo = { git = "https://github.com/underware-gg/cairo-nft-combo", branch = "dojo_v1.7.0" }
openzeppelin_token = { git = "https://github.com/OpenZeppelin/cairo-contracts", tag = "v1.0.0" }
openzeppelin_introspection = { git = "https://github.com/OpenZeppelin/cairo-contracts", tag = "v1.0.0" }
# cartridge_vrf = { git = "https://github.com/cartridge-gg/vrf" }
# tournaments = { git = "https://github.com/Provable-Games/tournaments.git" }
# tournaments = { git = "https://github.com/underware-gg/tournaments", branch = "pistols" }

[dev-dependencies]
cairo_test = ">=2.13.1"
snforge_std = "0.51.0"
dojo_snf_test = "1.8.0"

[tool.scarb]
allow-prebuilt-plugins = [
  "dojo_cairo_macros",
  "snforge_std",
]

# [features]
# default = ["lords_mock"]
# lords_mock = []

[[target.starknet-contract]]
sierra = true
build-external-contracts = [
  "dojo::world::world_contract::world",
  "achievement::events::index::e_TrophyCreation",
  "achievement::events::index::e_TrophyProgression",
  # "tournaments::components::models::game::m_GameMetadata",
  # "tournaments::components::models::game::m_TokenMetadata",
  # "tournaments::components::models::game::m_GameCounter",
  # "tournaments::components::models::game::m_Score",
  # "tournaments::components::models::game::m_Settings",
  # "tournaments::components::models::game::m_SettingsDetails",
  # "tournaments::components::models::game::m_SettingsCounter",
]

# debug contract size issues
# https://docs.starknet.io/resources/chain-info/
# max felts = 81,920 felts
# usage: sozo build --stats.by-tag`
# casm = true


#--------------------------
# Voyager verification
# https://github.com/NethermindEth/starknet-contract-verifier
[tool.voyager]
game = { path = "src/systems/game.cairo" }
game_loop = { path = "src/systems/game_loop.cairo" }
bot_player = { path = "src/systems/bot_player.cairo" }
tutorial = { path = "src/systems/tutorial.cairo" }
admin = { path = "src/systems/admin.cairo" }
bank = { path = "src/systems/bank.cairo" }
fame_coin = { path = "src/tokens/fame_coin.cairo" }
fools_coin = { path = "src/tokens/fools_coin.cairo" }
duel_token = { path = "src/tokens/duel_token.cairo" }
duelist_token = { path = "src/tokens/duelist_token.cairo" }
pack_token = { path = "src/tokens/pack_token.cairo" }
ring_token = { path = "src/tokens/ring_token.cairo" }
# tournament_token = { path = "src/tokens/tournament_token.cairo" }
