#
# torii config for profile [dev]
#
world_address = "0x00b8d2b85a77394f9980a502e1d9f86a4b9219c9065044bd044a59a8f84f1393"
rpc = "http://127.0.0.1:5050"

[events]
raw = true

[sql]
historical = [
  "pistols-PlayerActivityEvent",
  "pistols-LordsReleaseEvent",
  "pistols-FamePegEvent",
  "pistols-PurchaseDistributionEvent",
  "pistols-TrophyProgression",
]

# [grpc]
# subscription_buffer_size = 10000

[indexing]
world_block = 1
# blocks_chunk_size = 10240 # default: 10240
# max_concurrent_tasks = 40
transactions = true
controllers = true
pending = true
contracts = [
  "erc721:0xd706eaffd0ab2ffbe7bd92be2df71de1aa8eb6521b472ede49183772372deb", # duel_token
  "erc721:0x7e538c2667e36b602bb50b4ac7fa966224907d8c63ee8df4c7880c8909bc48a", # duelist_token
  "erc721:0x1ce5b11cd6cd3ebd3939f10e99835563dfb23f1c19980a4453fb034c294b079", # pack_token
  "erc721:0x7b300fd96bce5edf1c17b0b1b3d6c6d4cc0fee9153d0b834a25681d4b486a45", # ring_token
  # "erc721:$tournament_token", # tournament_token
  "erc20:0x2af2b22b59f9d23595b40ea87c84ad7c1b55b52a23f0c3c40272351bfee64e6", # fame_coin
  "erc20:0xd3af90aa027ca87122cd4a59089093423715c35401c6ee165e4c2533f04d5a", # fools_coin
  "erc20:0x111c6000ea3c7687e0681b21014ee6b01379beaba4475636fdf07fd09ed3e34", # lords
]
