#
# torii config for profile [dev]
#
world_address = "0x05fa5438c7ccbcbae63ec200779acf8b71f34f432e9f0e7adec7a74230850c6b"
rpc = "http://127.0.0.1:5050"

[events]
raw = true

[sql]
historical = [
  "pistols-PlayerActivityEvent",
  "pistols-LordsReleaseEvent",
  "pistols-FamePegEvent",
  "pistols-PurchaseDistributionEvent",
  "pistols-TrophyProgression",
]

# [grpc]
# subscription_buffer_size = 10000

[indexing]
world_block = 1
# blocks_chunk_size = 10240 # default: 10240
# max_concurrent_tasks = 40
transactions = true
controllers = true
pending = true
contracts = [
  "erc721:0x1bd329683a9b54e888b55bb463951f17daee5cd0fd1ab60afa2ebc49d79cc5d", # duel_token
  "erc721:0x3f43732b0acf3d762420ae7165d5d474f4dfd032a642600f02bc8f22ee1dfc8", # duelist_token
  "erc721:0x3b073701f2978a86df14129db3dcd80e5dac7085ef3ac29d86b9704b206ff4c", # pack_token
  "erc721:0x6169f67a626c31d70c139326d7746b717eb5ffed671da7c7e0bcf197c45b3ef", # ring_token
  # "erc721:$tournament_token", # tournament_token
  "erc20:0x223cae3cafb1b5b744b124c6537106491cb3adf0a3a3b53dbb6d24a91caccd5", # fame_coin
  "erc20:0x124b9fd933a93d9fffa66b49a2cb20f3f904935140dd9df44e82896dc6eab6e", # fools_coin
  "erc20:0x523297eea9b40cce60d3122cac710c5b71dd98a01f75a2ddc69e31accf5a036", # lords
]
